<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiger.demo.learn.newFile.orderBusinessEventMqRecord.mapper.OrderBusinessEventMqRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tiger.demo.learn.newFile.orderBusinessEventMqRecord.entity.OrderBusinessEventMqRecord">
    <result column="id" property="id" />
        <result column="business_event_code" property="businessEventCode" />
        <result column="order_number" property="orderNumber" />
        <result column="message_info" property="messageInfo" />
        <result column="message_status" property="messageStatus" />
        <result column="created_time" property="createdTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        business_event_code, order_number, message_info, message_status, created_time
    </sql>

</mapper>
