<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiger.demo.learn.newFile.takeAddressCount.mapper.UnimallTakeAddressCountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tiger.demo.learn.newFile.takeAddressCount.entity.UnimallTakeAddressCount">
    <result column="id" property="id" />
        <result column="take_address_time_id" property="takeAddressTimeId" />
        <result column="day_str" property="dayStr" />
        <result column="create_time" property="createTime" />
        <result column="user_id" property="userId" />
        <result column="order_id" property="orderId" />
        <result column="order_number" property="orderNumber" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        take_address_time_id, day_str, create_time, user_id, order_id, order_number
    </sql>

</mapper>
